html,body,#root
{
    height: 100%;
}
.room
{
    height:100%;
}
.dark
{
    /* background-color: black; */
    background: url(night.jpg) no-repeat;
    background-size: cover;
    color: white;
}
.lit
{
    /* background-color: white; */
    background: url(day.jpg)no-repeat;
    background-size: cover;
    color: black;
}

.litbtn{
    background:url(on.jpg) no-repeat ;
    height: 100px;
    width: 100px;
    background-size: cover;
}
.darkbtn
{
    background:url(off1.jpg) no-repeat ;
    height: 100px;
    width: 100px;
    
    background-size: cover;
}